<!DOCTYPE html>
<html lang="en" ng-app="myapp"> 
<head>
	<meta charset="UTF-8">
	<title>angularjs 中controller的作用域</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<div ng-controller="actr">
		<input class="input-group" type="text" ng-model="nuser">
		<h2 ng-bind="nuser"></h2>
	</div>
	<div ng-controller="bctr">
		<input class="input-group" type="text" ng-model="nuser">
		<h2 ng-bind="nuser"></h2>
	</div>
</body>
<script src="js/angular.min.js"></script>
<script>
	angular.module("myapp",[]).controller("actr",function($scope){
		$scope.nuser = "ninico";
	}).controller("bctr",function($scope){
		$scope.nuser = 'xiuxiu';
	})
</script>
</html>